p {
    margin: 0;
}

.top {
    width: 100%;
    height: 318px;
    background: url(../images/banner.jpg) no-repeat;
    background-size: 100% 100%;
}

.main {
    font-size: 16px;
    margin-bottom: 40px;
}

.contener {
    width: 1200px;
    margin: 0 auto;
}

.searchBar {
    margin: 20px 0;
}

.time-box {
    font-size: 14px;
    line-height: 45px;
    color: #236fab;
}

.time-box .time {
    color: #236fab;
}

.time-box .week {
    margin-left: 16px;
}

.search-box .search-input {
    width: 328px;
    height: 45px;
    background-color: #f5f9fd;
    box-shadow: inset 0px 3px 7px 0px rgba(189, 218, 248, 0.35);
    border-radius: 3px;
    text-indent: 20px;
    font-size: 14px;
}

.search-box .search-button {
    display: block;
    width: 87px;
    height: 45px;
    background-color: #2882cf;
    border-radius: 0px 3px 3px 0px;
    position: relative;
    cursor: pointer;
}

.search-box .search-button > img {
    width: 22px;
    margin: 0 auto;
    line-height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.notice-notice {
    box-sizing: border-box;
    height: 89px;
    padding: 15px 43px 12px 35px;
    background-color: #e7f1fe;
    margin-bottom: 26px;
}

.notice-notice .notice-list {
    box-sizing: border-box;
    padding-top: 19px;
    padding-bottom: 26px;
    list-style: disc;
    color: #db9e36;
    width: calc(100% - 106px - 32px);
    height: 100%;
    overflow: hidden;
    position: relative;
    top: 0;
}

.notice-notice .notice-list .notice-item {
    width: 95%;
}


.notice-notice .notice-list .notice-item > .notice-txt {
    color: #000;
    width: 650px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notice-time {
    color: #7a7773;
}


.SWIPER-1 {
    position: relative;
    width: 646px;
    height: 344px;
    /* margin: 15px auto; */
    overflow: hidden;
}

.SWIPER-1 .arrow-left,
.SWIPER-1 .arrow-right {
    display: none;
    display: block \0;
    position: absolute;
    width: 22px;
    height: 38px;
    margin-top: -19px;
    top: 50%;
    z-index: 9;
}

.SWIPER-1 .arrow-left {
    background: url(z-left.png) no-repeat left top;
    background-size: 100% 100%;
    left: 10px;
}

.SWIPER-1 .arrow-right {
    background: url(z-right.png) no-repeat left bottom;
    background-size: 100% 100%;
    right: 10px;
}

.SWIPER-1 .swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.SWIPER-1 .swiper-container .swiper-wrapper {
    width: 100%;
    height: 100%;
}

.SWIPER-1 .swiper-container .swiper-wrapper .swiper-slide {
    position: relative;
    display: block;
}

.SWIPER-1 .swiper-container .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
}

.SWIPER-1 .swiper-container .swiper-wrapper .swiper-slide p {
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    width: 80%;
    padding-right: 20%;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #fff;
    text-indent: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.5);
    filter: alpha(opacity=50);
}

.SWIPER-1 .swiper-container .pagination {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 20%;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.SWIPER-1 .swiper-container .pagination .swiper-pagination-switch {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #fff;
    margin: 0 3px;
    cursor: pointer;
}

.SWIPER-1 .swiper-container .pagination .swiper-active-switch {
    background: #2d70c2;
}


.newSend {
    width: 511px;
    margin-left: 43px;
}

.newSend-list {
    list-style: disc;
    color: #1963be;
    padding-left: 20px;
    padding-right: 7px;
    margin-top: 30px;
}

.newSend-item:not(:last-child) {
    margin-bottom: 23px;
}

.newSend-txt {
    width: 379px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #292929;
}

.newSend-time {
    color: #7a7773;
}


.news-vip-box {
    margin-top: 33px;
    margin-bottom: 50px;
}

.news-list,
.vip-list,
.list {
    width: 580px;
    list-style-type: disc;
    color: #1963be;
    padding-left: 20px;
    box-sizing: border-box;
    line-height: 36px;
    margin-top: 37px;
}

.news-txt,
.vip-txt,
.txt {
    width: 439px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #292929;
}

.news-time,
.vip-time,
.time {
    color: #7a7773;
}


.industry {
    width: 813px;
    background-color: #f9fbfe;
    box-shadow: 2px 2px 8px 0px rgba(193, 214, 233, 0.49);
    padding: 36px 21px 7px 21px;
    box-sizing: border-box;
}

.industry-list {
    width: 660px;
}

.industry-item {
    width: 110px;
    height: 138px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 6px 0px rgba(193, 214, 233, 0.49);
    border: solid 1px #63acea;
    background-color: #f7fbfe;
    box-sizing: border-box;
    margin-right: 22px;
    margin-bottom: 18px;
}

.industry-item img {
    margin: 19px 30px 18px 30px;
}

.industry-txt {
    text-align: center;
    font-size: 14px;
}

.industry-item-big {
    width: 110px;
    height: 294px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 6px 0px rgba(193, 214, 233, 0.49);
    border: solid 1px #63acea;
    background-color: #f7fbfe;
    box-sizing: border-box;
}

.industry-item-big img {
    margin: 83px 33px 20px 33px;
}

.special {
    width: 354px;
    height: 411px;
    background-color: #f9fcfe;
    box-shadow: 2px 2px 8px 0px rgba(193, 214, 233, 0.49);
    padding: 36px 28px 24px 28px;
    box-sizing: border-box;
}

.education-standard {
    margin-top: 56px;
}


.index-ztzl {
    margin-top: 24px;
    margin-bottom: 30px;
    position: relative;
}

.index-ztzl .ban-more-box {
    height: 78px;
    position: relative;
    overflow: hidden;
    width: 1160px;
    margin: 0 auto;
}

.index-ztzl .ban-more-img .img-link,
.index-ztzl .ban-more-img p {
    width: 282px;
    height: 78px;
    display: inline-block;
}

.index-ztzl .ban-more-btn {
    /* margin-top: -30px; */
}

.ban-more-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.ban-more-img p {
    float: left;
    overflow: hidden;
    /*margin:0 10px;*/
    margin-right: 12px;
}

.ban-more-img img {
    display: block;
    width: 100%;
    height: 100%;
}

.ban-more-btn {
    position: absolute;
    top: 16%;
    height: 50px;
    width: 30px;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.ban-more-box:hover .ban-more-btn {
    display: block;
}

/* .ban-more-left {
  left: -18px;
} */

.ban-more-right {
    right: 0;
}

.industry-item:hover .industry-txt a, .industry-item-big:hover, .industry-item:hover, .industry-item-big:hover .industry-txt a {
    background-color: #206eb1;
    box-shadow: 2px 2px 5px 0px rgba(24, 77, 127, 0.68);
    color: #ffffff;
}

.industry-list, .industry-list > li {
    list-style: none;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 

*/
.SWIPER-1 .swiper-container .swiper-wrapper .swiper-slide p {
    width: 100% !important;
}

.SWIPER-1 .swiper-container .pagination .swiper-pagination-switch {
    margin: 15px 3px !important;
}

.img-banner {
    display: inline-block;
}

.news-vip-box, .education-standard {
    min-height: 277px;
}

/* 广告窗 */
.roll {
    width: 150px;
    position: fixed;
    cursor: pointer;
    z-index: 1000;
    top: 50%;
    left: 0px;
}

.roll a {
    position: relative;
    display: inline-block;
    height: 100%;
}

.roll a img {
    width: 150px;
    height: 150px;
}

.roll .close {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('../images/close.png') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: -12px;
    right: -12px;
}